<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" th:href="@{/css/reg.css}"/>
    <script src="/js/reg.js"></script>
</head>
<body>
<form name="frm" action="./reg" method="post">
    <div id="wrapImg">
        <img th:src="@{/img/logo.png}">
    </div>
    <div id="wrapReg">
        <h4>아이디</h4>
        <input type="text" name="memberId">
        <button id="dupCheck" onclick="dup()" type="button">중복확인</button>
        <br>
        <hr>
        <h4>비밀번호</h4>
        <input type="password" name="memberPass" disabled><br>
        <hr>
        <h4>전화번호 ('-' 제외 입력)</h4>
        <div>
            <input type="text" name="memberPhoneNumber" maxlength="11" disabled>
            <button id="telCheck" onclick="tel()" type="button">인증번호발급</button>
            <br><br>
        </div>
        <div id="resultContainer"></div>
        <hr>
        <h4>주소</h4>
        <input type="text" id="sample6_postcode" placeholder="우편번호" readonly>
        <input type="button" onclick="sample6_execDaumPostcode()" value="우편번호 찾기"><br>
        <input type="text" name="memberAddress" id="sample6_address" placeholder="주소" readonly><br>
        <input type="text" name="memberDetailAddr" id="sample6_detailAddress" placeholder="상세주소" disabled><br>
        <hr>
        <button id="regbtn" onclick="reg()" type="button">가입</button>
    </div>
</form>
<script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
<script>
    function sample6_execDaumPostcode() {
        new daum.Postcode({
            oncomplete: function (data) {
                var addr = '';
                if (data.userSelectedType === 'R') {
                    addr = data.roadAddress;
                } else {
                    addr = data.jibunAddress;
                }
                document.getElementById('sample6_postcode').value = data.zonecode;
                document.getElementById("sample6_address").value = addr;
                document.getElementById("sample6_detailAddress").focus();
            }
        }).open();
    }
</script>
</body>
</html>
