body {
    background-color: whitesmoke;
}

header {
    width: 40vw;
    margin: 0 auto;
    background-color: white;
    text-align: center;
    position: relative;
}

header a {
    color: #007bff;
    border-style: none;
}

#logo {
    width: 80%;
    height: 100%;
    margin-bottom: 10px;
}

#logo:hover {
    cursor: pointer;
}

.session-chk {
    position: absolute;
    right: 5%;
}

.session-chk a {
    text-decoration: none;
}