<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>error</title>
    <script src="https://code.jquery.com/jquery-3.6.3.min.js" integrity="sha256-pvPw+upLPUjgMXY0G+8O0xUf+/Im1MZjXxxgOcBQBXU=" crossorigin="anonymous"></script>
    <link rel="stylesheet" th:href="@{/css/index.css}"/>
    <link rel="stylesheet" th:href="@{/css/err.css}"/>
    <link rel="stylesheet" th:href="@{/css/font.css}"/>
</head>
<body>
<header>
    <img src="/img/logo_text.png" id="logo" onclick="goIndex()" alt=""><br>
</header>
<section>
    <div class="err-message">
        <h1>잘못 된 페이지 입니다 !!</h1>
        <button onclick="goIndex()">메인으로 돌아가기</button>
    </div>
</section>
<script th:inline="javascript">
    const goIndex = () => {
        location.href= "/restaurant";
    }
</script>
</body>
</html>