<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<header id="header">
    <img src="/img/logo_text.png" id="logo" onclick="goIndex()" alt=""><br>
    <span id="login" class="session-chk"><a th:href="@{/login}">로그인</a></span>
    <span id="logout" class="session-chk">
        <span id="user-name" th:text="|${principal.username} 님 반갑습니다.!!|"></span>
            <a href="/logout">로그아웃</a> / <a th:href="@{/mypage}">마이페이지</a></span>
    <br><br><br>
    <div>
        <a href="/articles">게시판 보러가기</a>
    </div>
</header>
</body>
</html>