<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<table>
    <tr>
        <th>음식점id</th>
        <th>음식점 이미지</th>
        <th>음식점명</th>
        <th>카테고리</th>
        <th>나와의 거리</th>
    </tr>
    <tr th:each="restaurant: ${list}">
        <td th:text="${restaurant.id}"></td>
        <td><img th:src="${restaurant.imgLink}" width="200px" height="200px" alt=""></td>
        <td><a th:href="@{|/restaurant/detail/${restaurant.id}|(page=${list.number + 1})}" th:text="${restaurant.restaurantName}"></a></td>
        <td th:text="${restaurant.category}"></td>
        <td th:text="${restaurant.distance}"></td>
    </tr>
</table>
<!-- 첫번째 페이지로 이동 -->
<!-- /restaurant/category//paging?page=1 -->
<a th:href="@{|/restaurant/category/${category}/paging|(page=1)}">First</a>
<!-- 이전 링크 활성화 비활성화 -->
<!-- boardList.getNumber() 사용자:2페이지 getNumber()=1 -->
<a th:href="${list.first} ? '#' : @{|/restaurant/category/${category}/paging|(page=${list.number})}">prev</a>

<!-- 페이지 번호 링크(현재 페이지는 숫자만)
        for(int page=startPage; page<=endPage; page++)-->
<span th:each="page: ${#numbers.sequence(startPage, endPage)}">
<!-- 현재페이지는 링크 없이 숫자만 -->
    <span th:if="${page == list.number + 1}" th:text="${page}"></span>
    <!-- 현재페이지 번호가 아닌 다른 페이지번호에는 링크를 보여줌 -->
    <span th:unless="${page == list.number + 1}">
        <a th:href="@{|/restaurant/category/${category}/paging|(page=${page})}" th:text="${page}"></a>
    </span>
</span>

<!-- 다음 링크 활성화 비활성화
    사용자: 2페이지, getNumber: 1, 3페이지-->
<a th:href="${list.last} ? '#' : @{|/restaurant/category/${category}/paging|(page=${list.number + 2})}">next</a>
<!-- 마지막 페이지로 이동 -->
<a th:href="@{|/restaurant/category/${category}/paging|(page=${list.totalPages})}">Last</a>

</body>

</html>