<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>review</title>
</head>
<body>
<form action="/review/restaurant" name="reviewForm" method="post" enctype="multipart/form-data">
    <table>
        <tr>
            <td><input type="hidden" name="restaurantId" th:value="${byId.id}"></td>
        </tr>
        <tr>
            <td>음식점명 : <h2 th:text="${byId.restaurantName}"></h2></td>
        </tr>
        <tr>
            <td>memberId : <input type="text" name="memberId" th:value="${session.memberId}" readonly></td>
        </tr>
        <tr>
            <td>
                리뷰내용칸
                <textarea name="reviewText" id="reviewText" placeholder="리뷰내용을 작성하세요"></textarea>
            </td>
        </tr>
        <tr>
            <td>
                파일첨부 : <input type="file" name="fileList" multiple>
            </td>
        </tr>
        <tr>
            <td>
                <input type="button" onclick="reviewSave()" value="리뷰 저장">
                <input type="button" onclick="reviewCancle()" value="작성 취소">
            </td>
        </tr>
    </table>
</form>
<script th:inline="javascript">
    const id = [[${byId.id}]];
    const reviewText = document.getElementById("reviewText");

    const reviewSave = () => {
        if(reviewText.value == ""){
            alert("리뷰내용을 입력해주세요");
            reviewText.focus();
        } else {
            document.reviewForm.submit();
        }
    }


    const reviewCancle = () => {
        location.href = `/restaurant/detail/${id}`;
    }

</script>
</body>
</html>